html, body{
  h1{
    font-size: 4em;
    color:white;
  }
  h2, h3{
    color:#ddd;
  }
  background: #333;
  .container-fluid{
    .defeated{
      h1, h2{
        color:red;
      }
    }

    margin-top: 2em;
    .btn-group{
      margin-bottom:1em;
    }
    #left-player{
      text-align: right;
    }

  }
}